.wrapper {
    min-height: 150px;
    background-color: var(--secondary);
    padding: 16px 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: var(--box-shadow);

    &:hover {
        cursor: pointer;
        box-shadow: 1px 2px 20px #ddd;
    }
}
