.heading {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}

.category-list {
    background-color: var(--secondary);
    display: flex;
    justify-content: center;
    padding: 20px 0;
    margin: 20px 0;
}
